[Unit]
Description=Apple II Pi Daemon
After=

[Service]
Type=idle
Environment="HOME=/root"
EnvironmentFile=-/etc/default/a2pi
ExecStart=/usr/local/sbin/a2pid /dev/ttyACM*
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
